@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Fox Valley Technical College</h3>
                <div class="subheading mb-3">Associate's Degree</div>
                <div>Software Development</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2018 - Present</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Phantom Knight School of Oppertunity</h3>
                <div class="subheading mb-3">Project based Highschool</div>
                <div>Pursued my interest in Computer Science and Electrical Engineering as part of my curriculum. Designed streaming protocols, websites, video games, and IOT devices</div>
                <p>GPA: 3.41</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2014 - 2015</span>
            </div>
        </div>
    </div>
</section>