@page
@model ExperienceModal
@{
    ViewData["Title"] = "Work Experience";
}

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Web Application Developer</h3>
                <div class="subheading">Future State Consulting</div>
                <small class="lead mb-3">Green Bay, WI</small>
                <ul>
                    <li>Developed VueJS static web applications</li>
                    <li>Designed a AWS based architecture for meeting our products requirements</li>
                    <li>Developed serverless backend systems</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2019 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Software & Data Visualization Developer</h3>
                <div class="subheading">Körber Tissue</div>
                <small class="lead mb-3">Green Bay, WI</small>
                <p>Working on a variety of applications from automated services for business intelligence to augmented/virtual reality projects.</p>
                <ul>
                    <li>Developed in house information systems</li>
                    <li>Performed server maintenance and upgrades</li>
                    <li>Managed Cloud infrastructure</li>
                    <li>Worked on AR/VR applications</li>
                    <li>Performed BI work</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2017 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Software Development Intern</h3>
                <div class="subheading">Fabio Perini North America, Inc</div>
                <small class="lead mb-3">Green Bay, WI</small>
                <p>Worked on upgrading a payroll application as part of my High school internship</p>
                <ul>
                    <li>Upgraded legacy reporting solutions</li>
                    <li>Worked with Microsoft Team Server</li>
                    <li>Performed quality of life logging upgrades</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2015 - July 2015</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Cashier</h3>
                <div class="subheading">Walmart</div>
                <small class="lead mb-3">De Pere, WI</small>
                <ul>
                    <li>Received payments via cash, debit/credit card</li>
                    <li>Issued receipts, credits, change as needed </li>
                    <li>Greet all clientele</li>
                    <li>Maintained clean work area at all times</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">March 2014 - September 2020</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Freelance Backend Web Developer</h3>
                <div class="subheading">leporidae.org</div>
                <ul>
                    <li>Designed website frameworks in PHP</li>
                    <li>Maintained a MySQL database instance</li>
                    <li>Designed systems for web game logic</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2013 - January 2014</span>
            </div>
        </div>
    </div>
</section>