@page
@model ProjectsModal
@{
    ViewData["Title"] = "Projects";
}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
    <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Analysis Dashboards</div>
                    <small>Professional Project</small>
                    <p>The goal of the project was to design a semi real time dashboard that could be displayed in a web browser for a digital signage platform. The project utilizes pandas and Highcharts to deliver a clear insight into the current days data to help aid in department improvement.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Virtual Showroom</div>
                    <small>Professional Project</small>
                    <p>Virtual Showroom is an experimental platform for showcasing equipment and manufacturing machines to customers in a virtual space using Desktop or VR headsets. It was originally created to give a perspective and understanding of equipment at trade shows without the need to ship an entire machine to the location.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Package Service</div>
                    <small>Professional Project</small>
                    <p>A microservice designed to automatically track shipments and save their response in a data warehouse until they have been marked as delivered. This tool was designed for BI and reporting related applications. It was capable of tracking a large variety of carriers and identify the carrier from its tracking number.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Overseer</div>
                    <small>Hobby Project</small>
                    <p>Overseer is an AWS powered master server platform for game server hosting written in Python. A key goal of the project was to be able to run the entire service serverless if desired. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">MagicUrl</div>
                    <small>Hobby Project</small>
                    <small><a href="https://github.com/thetestgame/MagicUrl">See the project here</a></small>
                    <p>MagicUrl is a url shortening service powered by AWS utilizing Lambda, Api Gateway, and Dynamodb to deliver a serverless website using flask and Zappa.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Galaxy Bot</div>
                    <small>Hobby Project</small>
                    <p>GalaxyBot was designed originally as an attempt at a commercial Discord bot. Its built with distributed architectures utilizing AWS and written in Asynchronous Python 3</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Multiverse</div>
                    <small>Hobby Project</small>
                    <p>An experimental proof of concept object oriented system utilizing the cloud for self repairing mechanics and auto scaling for massively multiplayer games. Proof of concepts demonstrate the power of the design handling over 50,000 connections without an issue in a low hardware requirement environment.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project align-items-center mb-5">
                    <div class="subheading mb3">Nebula</div>
                    <small>Hobby Project</small>
                    <p>A high level framework for the Panda3D game engine. Implementing systems for engine plugins, static and dynamic object management, automatic networking, and online subsystems. Written in a mixture of Python, Cython, and C++</p>
                </div>
            </div>
        </div>
    </div>
</section>