@page
@model SkillsModal
@{
    ViewData["Title"] = "Skills";
}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="subheading mb-3">Programming Languages</div>
                <ul>
                    <li>C#</li>
                    <li>Python</li>
                    <li>Cython</li>
                    <li>Java</li>
                    <li>PHP</li>
                    <li>Javascript</li>
                    <li>Lua</li>
                    <li>SQL</li>
                    <li>C++</li>
                    <li>C</li>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>Visual Basic</li>
                    <li>GLSL</li>
                    <li>Groovy</li>
                    <li>Processing</li>
                </ul>

                <div class="subheading mb3">Software & Services</div>
                <ul>
                    <li>Amazon Web Services</li>
                    <li>Microsoft Office</li>
                    <li>CMake</li>
                    <li>Git</li>
                    <li>Github</li>
                    <li>Gitlab</li>
                    <li>MySQL</li>
                    <li>SQL Server</li>
                    <li>Unity</li>
                    <li>Unreal Engine</li>
                    <li>Panda3D</li>
                    <li>SQL Server Integration Services</li>
                    <li>SQL Server Reporting Services</li>
                    <li>Visual Studio</li>
                    <li>Visual Studio Code</li>
                    <li>VMWare</li>
                    <li>Docker</li>
                    <li>Power BI</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="subheading mb3">Operating Systems</div>
                <ul>
                    <li>Windows</li>
                    <li>Linux</li>
                    <li>Android</li>
                </ul>
                <div class="subheading mb3">Hardware Knowledge</div>
                <ul>
                    <li>Hololens 2</li>
                    <li>HTC Vive</li>
                    <li>Oculus Rift</li>
                    <li>Oculus Quest</li>
                    <li>DAQRI Glasses</li>
                    <li>Raspberry Pi</li>
                </ul>
                <div class="subheading mb3">Industry Knowledge</div>
                <ul>
                    <li>Game Development</li>
                    <li>Game Design</li>
                    <li>Database Design</li>
                    <li>Web Development</li>
                    <li>Front-end Development</li>
                    <li>Software Development</li>
                    <li>Data Visualization</li>
                </ul>
            </div>
        </div>
    </div>
</section>